<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<!-- 별칭 -->
	<typeAliases>
		<typeAlias type="edu.kh.admin.member.model.vo.Member" alias="Member" />
		<typeAlias type="edu.kh.admin.member.model.vo.Pagination" alias="Pagination" />
		
		<typeAlias type="edu.kh.admin.board.model.vo.Board" alias="Board" /> 
		<typeAlias type="edu.kh.admin.board.model.vo.Pagination" alias="BoardPagination" /> 
		
		<typeAlias type="edu.kh.admin.qusetions.model.vo.Qusetions" alias="Qusetions" /> 
		<typeAlias type="edu.kh.admin.qusetions.model.vo.Pagination" alias="qusetionsPagination" />
		

		<typeAlias type="edu.kh.admin.qusetions.model.vo.Reply" alias = "Reply"/>	 
		
	</typeAliases>
	
	<!-- mapper -->
	<mappers>
	   <mapper resource="/mappers/member-mapper.xml" />
	   <mapper resource="/mappers/board-mapper.xml" />
	   <mapper resource="/mappers/qusetions-mapper.xml" /> 
	   <mapper resource="/mappers/reply-mapper.xml"/>
	</mappers>
</configuration>