<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">

	<resultMap type="board" id="board_rm">
		<!-- 기본키(PK)에 해당하는 컬럼, 필드 매핑 -->
		<!-- pk 인 memberNo은 <id> 나머지는 <result> -->
		<id property="boardNo" column="BOARD_NO" />
		<id property="memberNo" column="MEMBER_NO" />

		<!-- 기본키 외의 컬럼, 필드 매핑 -->
		<result property="boardTitle" column="BOARD_TITLE" />
		<result property="createDate" column="CREATE_DT" />
		<result property="memberName" column="MEMBER_NM" />
		<result property="categoryCode" column="CATEGORY_CD" />
		<result property="categoryTitle" column="CATEGORY_TITLE" />
		<result property="boardTime" column="BOARD_TIME" />
		<result property="boardPlace" column="BOARD_PLACE" />
		<result property="boardPay" column="BOARD_PAY" />
		<result property="boardStatus" column="BOARD_STATUS" />
		<result property="boardContent" column="BOARD_CONTENT" />
	</resultMap>
	<!-- -->
	<resultMap type="BoardPagination" id="pg_rm">
		<result property="listCount" column="CNT" />
	</resultMap>

	<!-- 전체게시글수 조회 -->
	<select id="getListCount" resultMap="pg_rm">
		SELECT COUNT(*) CNT
		FROM BOARD
		WHERE BOARD_STATUS IN('I', 'Y')
	</select>

	<!-- 게시판 목록 조회 -->
	<select id="boardList" parameterType="BoardPagination" resultMap="board_rm">
		SELECT
		BOARD_NO,CATEGORY_TITLE,BOARD_TITLE,BOARD_PLACE,BOARD_PAY,MEMBER_NM,BOARD_STATUS,CREATE_DT
		FROM BOARD
		JOIN MEMBER USING(MEMBER_NO)
		JOIN CATEGORY USING(CATEGORY_CD)
		WHERE BOARD_STATUS IN('I', 'Y')
		ORDER BY CREATE_DT DESC
	</select>

	<!-- 페이징처리(상태필터) -->
	<select id="getSearchListCount" parameterType="string" resultMap="pg_rm">
		SELECT COUNT(*) CNT FROM BOARD
		WHERE CATEGORY_CD = #{st}
		AND BOARD_STATUS IN('I', 'Y')
		ORDER BY CREATE_DT DESC
	</select>

	<!-- boardList불러오기 -->
	<select id="selectSearchList" parameterType="string" resultMap="board_rm">
		SELECT
		BOARD_NO,CATEGORY_TITLE,BOARD_TITLE,BOARD_PLACE,BOARD_PAY,MEMBER_NM,BOARD_STATUS,CREATE_DT
		FROM BOARD
		JOIN MEMBER USING(MEMBER_NO)
		JOIN CATEGORY USING(CATEGORY_CD)
		WHERE CATEGORY_CD = #{st}
		AND BOARD_STATUS IN('I', 'Y')
		ORDER BY CREATE_DT DESC
	</select>

	<!-- 게시글 상세조회 -->
	<select id="selectBoard" parameterType="_int" resultMap="board_rm">
		SELECT BOARD_NO, CATEGORY_TITLE, BOARD_TITLE, BOARD_PLACE,BOARD_PAY,
		BOARD_TIME,MEMBER_NM,CREATE_DT,BOARD_CONTENT
		FROM BOARD
		JOIN CATEGORY
		USING(CATEGORY_CD)
		JOIN MEMBER USING(MEMBER_NO)
		WHERE BOARD_NO = #{boardNo}
		AND BOARD_STATUS IN('I', 'Y')
	</select>

	<!-- 게시글 삭제 -->
	<update id="deleteBoard" parameterType="_int">
		UPDATE BOARD SET
		BOARD_STATUS ='N'
		WHERE BOARD_NO=#{boardNo}
	</update>

</mapper>
